<h1>Tic Tac Toe</h1>
<div class="tic-tac-toe">
<% @later = 1%>
<table>
<% 3.times do%>
 <tr>
 <% 3.times do%>
 <td><div class="box" onclick="myFunc(this)" id= <%= @later+=1%> ><%=@played %></div></td>
 <% end%>
 </tr>
<% end %>
</table>
</div>
<div class="game-buttons">
<button><%= link_to('Re-Start the game',:action => 'restart') %></button>

<button><%= link_to('Close the game',:action => 'close') %></button>

<button><%= link_to('<<Home ',users_path) %></button>
</div>
<script>

 function myFunc(elem) {

     elem.innerHTML === 'X' ?  elem.innerHTML = 'O' :  elem.innerHTML = 'X'
      elem.innerHTML === 'X' ?  elem.style.color = 'red' :  elem.style.color = 'black'
     console.log('Clicked this', elem.innerHTML)
    elem.style.animationName = 'example'
    

 }
</script>

