<h1>Home page</h1>

<h3>These are all the users currently in the Database</h3>
<div class="merry">
<table >
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
  </tr>
  <% @users.each do |user| %>
   <tr>
    <td><%=user.first_name%></td>
    <td><%=user.last_name%></td>
    <td><%=user.email%></td>
    <td><button><%= link_to('show user', user_path(user),:class => 'action show') %></button></td>
    <td><button><%= link_to('edit user', edit_user_path(user),:class => 'action edit') %></button></td>
    <td><button><%= link_to('delete user', delete_user_path(user),:class => 'action delete') %></button></td>
  </tr>
  <% end %>
</table>
</div>

<button><%= link_to('Create new user', new_user_path(@user),:class => 'action edit') %></button>
<br />
<br />
<br />

<button><%= link_to('Game page', :controller => 'game', :action => 'start')%></button>